@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f0f11;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .glass-card {
    @apply bg-white/10 backdrop-blur-md border border-white/20 rounded-3xl shadow-xl;
  }
}
